/*****************/
/*ESTILOS GLOBAIS*/
/*****************/

/*TODAS AS TAGS*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

/*SELETOR ROOT*/
:root {
    /*CORES PRIMÁRIAS*/
    --cyan:         hsl(178, 100%, 50%);
    --soft-blue:    hsl(215, 50%, 70%);

    /*CORES NEUTRAS*/
    --very-dark-blue-card-background:   hsl(216, 50%, 16%);
    --very-dark-blue-line:              hsl(215, 32%, 28%);
    --very-dark-blue-main-background:   hsl(218, 54%, 12%);
    --white:                            hsl(0, 0%, 100%);
}

/*********************/
/*CONTAINER DA PÁGINA*/
/*********************/

/*TAG MAIN*/
#page-container {
    background: var(--very-dark-blue-main-background);

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    min-height: 41.5625rem;
}

/*****************/
/*COMPONENTE CARD*/
/*****************/

/*CONTAINER DO CARD*/
#card-component {
    background: var(--very-dark-blue-card-background);

    border-radius: 1rem;

    padding: 1.5rem;

    width: 21.875rem;
}

/*DIV DA IMAGEM DO CARD*/
#card-image {
    background-image: url("./assets/image-equilibrium.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 0.5rem;

    margin-bottom: 1.5rem;

    width: 100%;
    height: 18.875rem;
}
/*EFEITO DE HOVER*/
#card-image:hover #card-image-hover {
    opacity: 1;
}

/*DIV DO HOVER DE IMAGEM DO CARD*/
#card-image-hover {
    background: hsla(178, 100%, 50%, 0.5);

    opacity: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    border-radius: 0.5rem;

    cursor: pointer;

    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

    width: 100%;
    height: 100%;
}
/*IMAGEM DO HOVER*/
#card-image-hover img {
    width: 2.875rem;
    height: auto;
}

/*HEADING DO CARD*/
#card-heading {
    color: var(--white);

    font-family: "Outfit", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;

    cursor: pointer;
}

/*PARAGRAFO DO CARD*/
#card-paragraph {
    color: var(--soft-blue);

    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    font-weight: 300;

    line-height: 1.5;

    margin: 1rem 0 1rem 0;
}

/*CONTAINER DA INFORMAÇÃO DE PREÇOS*/
#card-price-information-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    padding-bottom: 1rem;

    border-bottom: 0.0625rem solid var(--very-dark-blue-line);
}

/*CONTAINER DO ETHEREUM*/
#ethereum-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*ÍCONE DE ETHEREUM*/
#ethereum-container img {
    margin-right: 0.5rem;
    
    width: 0.75rem;
    height: 1.125rem;
}
/*VALOR DE ETHEREUM*/
#ethereum-container p {
    color: var(--cyan);

    font-family: "Outfit", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

/*CONTAINER DOS DIAS RESTANTES*/
#days-left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*ÍCONE DO RELÓGIO*/
#days-left-container img {
    margin-right: 0.5rem;

    width: 0.875rem;
    height: 0.875rem;
}
/*DIAS RESTANTES*/
#days-left-container p {
    color: var(--soft-blue);

    font-family: "Outfit", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

/*CONTAINER DAS INFORMAÇÕES DO AUTOR*/
#card-autor-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding-top: 1rem;
}

/*IMAGEM DO AUTOR*/
#autor-image {
    background-image: url("./assets/image-avatar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 50%;
    border: 0.0625rem solid var(--white);

    margin-right: 1rem;

    width: 2rem;
    height: 2rem;
}

/*NOME DO AUTOR*/
#autor-name {
    color: var(--soft-blue);

    font-family: "Outfit", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
}
/*SPAN DO NOME*/
#autor-name span {
    color: var(--cyan);
    
    font-weight: 400;

    cursor: pointer;
}

/***************/
/*MEDIA QUERIES*/
/***************/

/*MEDIA PARA TELAS MENORES QUE A LARGURA DO CARD*/
@media only screen and (max-width: 398px) {
    /*TAG HTML*/
    html {
        font-size: 4.0201vw;
    }
}
